#topicContent
{
    padding-left: 5%;
    padding-top: 50px;
    width: 80%;
}
#desbg{
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.heading{
    background-color: white;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5%;
    height: 800px;
}
